latex_cribsheet.pdf
LaTeX\discball_rules.aux
LaTeX\discball_rules.fdb_latexmk
LaTeX\discball_rules.fls
LaTeX\discball_rules.log
LaTeX\discball_rules.out
LaTeX\discball_rules.synctex.gz
LaTeX\discball_rules.toc